<!DOCTYPE html>
<html>
<head>
    <title>Earable - Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro/dist/iro.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js"></script>

    <link rel="shortcut icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/dash.css">
</head>
<body>

<div class="container">
    <div class="widget title">
        <h1>Earable - Dashboard</h1>
    </div>

    <div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>SensorName</th>
                    <th>Sample rate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input id="checkbox_0" type="checkbox"></td>
                    <td>ACC & GYRO & MAG + PRESSURE & TEMPERATURE</td>
                    <td>
                        <select id="select_0">
                            <option value="0" selected="selected">0</option>
                            <option value="1">10</option>
                            <option value="2">20</option>
                            <option value="3">30</option>
                        </select> Hz
                    </td>
                </tr>
                <tr>
                    <td><input id="checkbox_1" type="checkbox"></td>
                    <td>PDM MIC</td>
                    <td>
                        <select id="select_1">
                            <option value="0" selected="selected">0</option>
                            <option value="1">16000</option>
                            <option value="2">41667</option>
                            <option value="3">62500</option>
                        </select> Hz
                    </td>
                </tr>
                <tr>
                    <td><input id="checkbox_2" type="checkbox"></td>
                    <td>Audio Command [Optional]</td>
                    <td>
                        <select id="select_2">
                            <option value="2" selected="selected">Play</option>
                            <option value="1">End</option>
                            <option value="3">Pause</option>
                            <option value="4">Unpause</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
            <button id="configButton">Submit</button>
            <button id="defaultButton">Default</button>
            <button id="stopButton">Stop Sensors</button>
    </div>
</div>

    <div class="status widget">
        <div>
            <div class="label">Audio Playback</div>
            <button id="play_Button">Play</button>
            <span class="spacer"></span>
            <button id="stop_Button">Stop</button>
            <span class="spacer"></span>
            <button id="pause_Button">Pause</button>
            <span class="spacer"></span>
            <button id="unpause_Button">Unpause</button>
        </div>

        <div class="input-group">
            <input id="checkbox_3" type="checkbox">
          <span class="input-group-text" id="basic-addon1">Audio File Name: </span>
          <input id="file_input" type="text" class="form-control" aria-describedby="basic-addon1" value="Play.wav">
        </div>
    </div>

    <div class="status widget">
        <div class="label" id="bluetooth">Click to connect to the board</div>
        <button id="bigButton">Connect!</button>
        <span class="spacer"></span>
        <div id="alert" class="alert">

            Packet loss detected!
            <span id="alert_c" class="closebtn">&times;</span>
        </div>
    </div>

    <div class="status widget">
        <button class="rec_indicator notRec" id="recButton"></button>
        <div class="label">Rec</div>
        <div></div>
        <div class="label">Recording</div>
        <button id="rec_Button" class="start_rec_col">Start</button>
        <span class="spacer"></span>
        <div class="label">Data</div>
        <button id="downloadButton">Download</button>
    </div>

    <!-- 3D -->
    <div class="square_big widget" id="3d">
        <div class="label">&#128230;3D</div>
    </div>

    <!-- ACC -->
    <div class="adj_double square widget">
        <div class="label">&#128640; Accelerometer</div>
        <div id="accelerometer" class="adj_doublegraph"></div>
    </div>

    <!-- Gyro -->
    <div class="adj_double square widget">
        <div class="label">&#128171; Gyroscope</div>
        <div id="gyroscope" class="adj_doublegraph"></div>
    </div>

    <!-- Mangetometer -->
    <div class="adj_double square widget">
        <div class="label">&#129522; Magnetometer</div>
        <div id="magnetometer" class="adj_doublegraph"></div>
    </div>

    <!-- Temperature -->
    <div class="short widget">
        <div class="label">&#127777; Temperature - </div>
        <div class="label" id="temperature-value"></div>
        <div class="label">&deg;C</div>
        <div class="shortgraph" id="temperature"></div>
    </div>

    <!-- Pressure -->
    <div class="short widget">
        <div class="label">&#9925; Pressure - </div>
        <div class="label" id="pressure-value"></div>
        <div class="label">hPa</div>
        <div class="shortgraph" id="pressure"></div>
    </div>
</div>


<script type="module" src="/js/dashboard/index.js"></script>

</body>


</html>
